body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ExampleBox {
    padding:5%;
    background-color: #6B5B95;
    margin-bottom:10px;
}

.headerTitle {
    font-family: "UniqueFont", Georgia, serif;
    padding: 2%;
    margin-top: 0;
    display: inline-block;
    background-color: #F0EDE5;
}

.TryItBox {
    padding: 5%;
    background-color: #4F84C4;
}

.form-control{
    max-width:100%;
}


