@{
    ViewBag.Title = "nStack";
}
    <body class="bkBody">
        <div class="tester">
            <div class="head">
                <h1>nStack</h1>
                <h3 class="textFor"> What can we do?</h3>
                <h4>This application is intended for a one off use. Where you upload and analyze a file based on given specifications</h4>
                <p>
                    <b>
                        This is just a sample data portion to be specified and filled in<br />
                        Here we can list upcoming information<br />
                    </b>
                </p>
            </div>

            <b>Here we can list alerts</b><br />
            <b>Or we could also list current companies that we have</b><br />


        </div>
    </body>


