@model UploadViewModel
@{
    ViewBag.Title = "nGage";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="pContent">
    <h2>nGauge</h2>
    <h4>
        This page is for the sole purpose of uploading files. You can upload multiple files
        at a time as long as it's for the same company. Be sure to enter in a company name that you
        are uploading the file for
    </h4>


    <p>Can do multiple files at a time.</p>
    <p class="alert-info">No need to upload a master file. If one doesn't exist it will be created</p>

    <h4>Upload</h4>
    <div class="form-inline">
        @Html.TextBox("CompanyName","", new { @class = "form-control" })
       
        <input type="file" multiple="multiple" name="file" class="form-control" />
        <input type="submit" value="Upload" class="btn btn-primary"  />
      
    </div>
</div>
}

